{
   project =
   {
      description="🤱🏼 Compatibility library for deterministic initializers";
      domain="github";
      name="mulle-atinit";
      user="mulle-core";
      repo="mulle-atinit";
      homepage="https://github.com/mulle-core/mulle-atinit";
      license="UNLICENSED"
   };
   dependencies =
   (
      {
         description="🔠 Cross-platform thread/mutex/tss/atomic operations in C";
         domain="github";
         name="mulle-thread";
         repo="mulle-thread";
         url="https://github.com/mulle-concurrent/mulle-thread";
         user="mulle-concurrent";
      },
      {
         description="♿️ Shared library helper";
         domain="github";
         name="mulle-dlfcn";
         repo="mulle-dlfcn";
         url="https://github.com/mulle-core/mulle-dlfcn";
         user="mulle-core";
      }
   )
}
